.App {
  text-align: center;
}

svg.logo {
  animation: grow 3s;
  height: 40vmin;
  pointer-events: none;
  fill:#ffd700
}

.App-header {
  background-color: #10141d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}